* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#home {
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 10)), url(../img/home1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* === main page */


.main-h {
    color: aliceblue !important;
    font-size: 35px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-p {
    color: rgb(192, 186, 186) !important;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8rem !important;
}

.main-btn {
    background: transparent;
    color: aliceblue !important;
    border: 1px solid aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all ease-in-out 0.7s;
    width: 150px;
}

.main-btn:hover {
    background: rgba(187, 206, 203, 0.466) !important;

}


/* navighation */
/* button */


.btn-login {
    background: #ddd !important;
    color: #333 !important;
    margin-right: 10px;
}

/* dropdown */
.dropdown-menu {
    background: rgba(0, 0, 0, 0.7);
    color: aliceblue !important;
}

.dropdown-menu a:hover {
    background: #333;
    border: none;
}

.dropdown:hover>.dropdown-menu {
    border-radius: 6px;
}

/* main na */
nav {
    background: transparent;

}

.navbar {
    padding: 25px 18px;
    transition: all ease-out 0.7s;
    border-bottom: #ddd 1px solid;
}

.navbar-brand {
    color: antiquewhite !important;
    padding-bottom: 0px;
    margin-left: 25px;
    font-size: 25px;
}

nav ul {
    margin-right: 15px;
    margin-bottom: 10px;

}

nav ul>li>a {
    color: antiquewhite !important;
    font-size: 16px;
    margin-right: 10px;
}

nav ul>li:hover {
    border-bottom: 1px solid antiquewhite !important;
}


/* main contenet */
.content {
    padding-top: 230px;
}

.left-content h1 {
    font-size: 50px;
    font-weight: bold;
}

.left-content p {
    line-height: 1.7rem;
    font-size: 16px;
}

/* campaign */
.campaign-main h1 {
    text-align: center;
}

.campaign-main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.campaign-main p {
    font-size: 18px;
    line-height: 1.7rem;
}

.campaign {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.campaign p {
    line-height: 1.7rem;
    font-size: 18px;
}

.campaign-btn {
    color: #333333 !important;

    padding-left: 15px;
    padding-right: 15px;
}

.campaign-btn:hover {
    color: black !important;

}

/* end campaign */
/* ======self defence tips ========== */


.tips {
    color: rgb(234, 224, 200) !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#self-defence-tips {
    background: rgb(10, 10, 11) !important;
}

.defence {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(234, 224, 200) !important;
}



.defence h3 {
    font-size: 23px;

}

.defence p {
    font-size: 16px;
    line-height: 1.8rem;
    margin-left: 30px;
}

.defence-button {
    font-weight: bold;
    border: 1px solid aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    transition: all ease-in-out 0.7s;
    background: transparent;
}

.defence-button a {
    color: aliceblue !important;
}

.defence-button:hover {
    background: rgba(187, 206, 203, 0.466) !important;
}


/* end  defence*/

/* eye witenss=== */

#eyeWitness {
    background: url(../img/eye-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: aliceblue !important;
}

/* ===women heros */

.women-h,
.women-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.women-p {
    line-height: 1.7rem;
    font-size: 18px;
}

/* end women heros */

/* unsafe places */
#unsafe {
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.7)), url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Unsafe area start */
#unsafe {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;

}

.un {
    line-height: 3rem;
    font-size: 25px;
    top: 50px;
}

#unsafe table {
    border-collapse: collapse;
    text-align: center;
}

#unsafe td,
th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



/* =====CARDS STSRT==== */

.card-footer {
    background: rgb(10, 10, 11) !important;
}

.card-footer .nav-link {
    color: white !important;
}

#card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* ====contact us page ===== */

.contactbg {
    background: rgb(39, 52, 72) !important;
}

.contact-title {
    text-align: center;
    color: white;
}

.talk {
    text-align: center;
    color: white;
}

.contact-form .btn {
    font-weight: bold;
    color: #333 !important;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    width: 400px;
    transition: all ease-in-out 0.6s;

}

.align-middle {
    text-align: center;
}

.contact-form .btn:hover {
    color: white !important;
    background: #333 !important;
}


/* ======footer====== */

.footer2 {
    background: rgb(12, 19, 41) !important;
    font-size: 18px;
    text-align: center;
    color: aliceblue !important;
}

.bigFooter {
    background: rgb(39, 52, 72) !important;

}


/* ======== REPORTS========== */
.abc {
    width: 80%;
    height: 27px;
    background-color: rgb(208, 2, 27);
    margin-right: 350px;
}

.def {
    width: 70%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.ghi {
    width: 65%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.jkl {
    width: 60%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.mno {
    width: 54%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.pqr {
    width: 40%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.stu {
    width: 25%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.vwx {
    width: 22%;
    height: 27px;
    background-color: rgb(208, 2, 27);
}

.p {
    margin-right: 9px;
    color: black;
    text-align: right;
    font-weight: bold;
}

#hd {
    margin-bottom: 8px;
    line-height: 2.2rem;
}


/* side button */

#fixed {
    position: fixed;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}


